@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.contact {
  background: #f5f5f7;
  padding: $section-padding;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    z-index: 0;
    display: none;

    @include phone {
      display: block;
    }

    &::before {
      position: absolute;
      content: '';
      z-index: 1;
      right: 12%;
      top: 23%;
      display: block;
      height: 15px;
      width: 15px;
      background: rgb(202, 7, 7);
      border-radius: 50%;

      animation: pulse-animation 2s infinite;
    }

    & img {
      z-index: -1;
      width: 429px;
      height: 400px;
      opacity: 0.2;
    }
  }

  &__info {
    margin-top: 3rem;
    @include tablet {
      margin-left: 5rem;
      align-self: center;
    }
  }
  &__info-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__list a {
    text-decoration: none;
    color: #000;
  }

  &__icon {
    display: block;
    margin: 1rem 0;
  }

  &__icon-img {
    display: block;
    height: 25px;
    width: 25px;
    margin-right: 1rem;

    @include tablet {
      margin-right: 1.25rem;
    }
  }
}

.form {
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(22, 22, 22);
  padding: 2rem;
  z-index: 1;

  &__label {
    color: $secondary-color;
    margin-bottom: 0.5rem;
  }

  @include phone {
    width: 350px;
    align-self: flex-start;
  }

  @include tablet {
    width: 350px;
  }

  @include laptop {
    width: 450px;
  }

  &__submit,
  &__input,
  &__textarea {
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid transparent;
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
  }
  &__input {
    margin-bottom: 1rem;
  }

  &__submit {
    text-align: center;
    margin-top: 1rem;
    color: #000;
    background-color: $secondary-color;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    border: none;
  }

  &__textarea {
    height: 150px;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
