@use '../base/variables' as *;

.hero {
  position: relative;
  background-image: url(../images/hero_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding: 10rem 0;
}

.hero__content {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero__title {
  font-size: 4rem;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(131, 131, 131);
}

.hero__cta {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  border: 2px solid #58a6ff;
  padding: 1rem 3rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    height: 100px;
    width: 300px;
  }
}
