@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.hero {
  position: relative;
  background-image: url(../images/hero_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding: 18rem 0;

  @include phone {
    min-height: 60vh;
    padding: 15rem 0;
  }
}

.hero__content {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  @include phone {
    text-align: left;
  }
}

.hero__title {
  font-size: 4rem;
  font-weight: 700;
  @include tablet {
    font-size: 5rem;
  }
}

.hero__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(131, 131, 131);
  @include tablet {
    font-size: 2rem;
  }
}

.hero__cta {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  border: 2px solid #58a6ff;
  padding: 1rem 3rem;
  border-radius: 8px;
  display: inline-block;
  margin-top: 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s ease-in color;
}

.hero__cta:hover {
  background: #58a6ff;
  color: #000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    display: block;
    height: 103px;
    width: 300px;
  }
}
