@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.services {
  padding: $section-padding;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__title {
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__img {
    height: 100px;
    width: 100px;
  }

  &__box {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    @include phone {
      width: 50%;
    }

    @include tablet {
      width: 25%;
    }
  }
}
