@use './base/variables' as *;
@use './base/breakpoints' as *;
@use './base/typography' as *;
@use './layout/grid' as *;
@use './layout/header' as *;
@use './layout/hero' as *;
@use './layout/services' as *;
@use './layout/about' as *;
@use './layout/testimonials' as *;
@use './layout/contact' as *;
@use './layout/footer' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
